* {
  margin: 0;
  padding: 0;
}

html, body {
  overflow: hidden;
}

#social {
  font-family: 'Helvetica Neue';
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0px 20px 20px 0px;
  user-select: none;
  color: white;
  backdrop-filter: blur(10px) saturate(70%);
}

a:link, a:visited {
  text-decoration: underline;
  color: white;
}